
* {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}

img {
 /* filter: invert(84%) sepia(10%) saturate(158%) hue-rotate(4deg) brightness(85%) contrast(89%); */
}

h1, h2, h3 {
    color: rgb(40,60,74);
}

.title {
    font-family: 'Roboto Slab', serif;
    /* height: 50px; */
    font-size: 30px;
    /* width: 50px; */
    display: flex;
    margin: auto;

    justify-content: center;
    align-items: center;
    padding: 24px;
}

h2{
    color: 0xFF283C4A;
    font-size: 30px;
    margin: 0em;
    font-family: 'Noto Serif', serif;
    /* font-weight: 700; */
}

h3{
    font-size: 20px;
    margin: 0em;
    font-family: 'Noto Serif', serif;
    /* font-weight: 700; */
}

body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.header{
    font-weight: 700;
    width: 100%;
    justify-content: stretch;
    text-align: center;
    font-size: 38;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 4px;
}

.news-header{
    margin: 8px;
}

.news-submit-by{
    color: grey;
    margin: 8px 0px;
}

.news-header-popular{
    margin: 16px 8px;
}

.day-name {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 00;
    padding: 4px;
    margin-bottom: 8px;
    height: 100%;
}

.day-name:hover{
    background-color: rgba(40, 60, 74, 0.5);
    border-bottom: 6px solid deepskyblue;
    font-weight: 700;
}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    border-bottom: 2px solid #f0f0f0;
    margin: 16px 0px;
    padding-bottom: 16px;
}

.popular-card {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 8px;
    border-right: 2px solid #f0f0f0;
}

.unpopular-card{
    flex: 2;
    flex-direction: row;
    display: flex;
}

.popular-image {
    margin: 0;
    padding: 0;
    width: 100%;
    /* flex: 3; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.big-image{
    width: 100%;
}

.news-popular {
    /* flex: 1; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.small-cards {
    /* padding: 2px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.small-content {
    display: flex;
    flex-direction: row;
}

.news-subtitle {
    padding: 2px;

    flex: 3;
    display: flex;
    flex-direction: column;
}

.small-image {
    padding: 4px;
    /* flex: 1; */
    float: left;
}



.bottom-border {
    border-bottom: 2px solid #f0f0f0;
    margin: 0;
}

.rigth-border {
    border-right: 2px solid #f0f0f0;
}



.news-small {
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.news-image-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    float: right;
    margin: 8px 2px;
}

.news-image-small-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: right;
    margin: 2px;
}

.news-subtitle-3{
    padding: 2px;

    flex: 3;
    display: flex;
    flex-direction: row;
}

.comments-points{
    width: 100%;
    padding: 1px;
    color: gray;
    max-lines: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.comments {
    font-size: 12px;

    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1.5;
}

.points {
    font-size: 12px;

    flex: 1.5;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.point-count {
    font-size: 12px;

    /* margin: 4px; */
    padding: 4px;
}



.time-published {
    font-size: 12px;

    margin: 4px;
}

.line-break{
    color: grey;
    /* height: 100%; */
    /* padding: 4px; */
}

.small-cards-2 {
    display: flex;
    flex-direction: row;
}

.section-2 {
    padding-bottom: 16px;
    border-bottom: 2px solid #f0f0f0;
}

.section-2-news{
    margin: 0;
    border-right: 2px solid #f0f0f0;
}

.section-3 {
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
}

.news-3 {
    display: flex;
    flex-direction: row-reverse;
}

.news-small-3 {
    flex:1
}

.small-image-3 {
    padding: 8px 16px;
    flex: 1;
}

.icons {
     filter: invert(84%) sepia(10%) saturate(158%) hue-rotate(4deg) brightness(85%) contrast(89%);
    width: 16px; 
    height: 16px;
    padding: 8px;
    padding-left: 0px;
    padding-bottom: 4px;
}

.section-1 > unpopular-card > small-cards:first-child{
    border-right:2px solid #f0f0f0;
}

.section-1 > unpopular-card > small-cards > news-card-small{
    border-bottom: 2px solid #f0f0f0;
}

.section-1 > unpopular-card > small-cards > news-card-small:last-child{
    border-bottom:0;
}

.section-2 > small-cards-2 > news-card-small{
    border-right: 2px solid #f0f0f0;
}

.section-2 > small-cards-2 > news-card-small:last-child{
    border-right: 0px solid #f0f0f0;
}

.section-3 > news-card-small:first-child {
    border-right: 2px solid #f0f0f0;
}

.news-image-small-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    float: right;
    margin: 8px 2px;
}

.news-card-small {
    padding-left: 12px;
    padding-right: 12px;    
    display: flex;
    flex: 1;
    margin: 8px 0px;
}